.card {
    display: flex;
    flex-direction: column;
    height: 107px;
    width: 232px;
    background-color: #FFF;
    border-radius: 10px;
    margin-left: 32px;
    margin-right: 16px;
    margin-bottom: 20px;
}

.title-card {
    display: 1;
    align-items: flex-start;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: bold;
}