*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F1F5FA;
}
body, button, input, textarea{
    font: 400 16px 'Poppins', sans-serif;
}
div .text-container{
    display: flex;
    justify-content: center !important;
}